DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=db
DB_USERNAME=root
DB_PASSWORD=secret

# Set value to enable encryption
# If no value is set, encryption will be disabled & uploads will be disabled
GPG_PASSPHRASE=

# AWS S3 settings
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

BACKUP_DIRECTORY=/backups
